

.container {
  display: flex;
  position:relative;
  top:100px;
  left:0;
  height:100%;
  width:100%;

}

#task {
  color:white;
  font-size: 41px;
}

.col .card-content  {
  background-color: black;
  color:white;
}

.card-action {
  background-color: black;
  color: white;
}

.collection-item {
  color:black;
  font-weight: bold;
}

.clear_task {
  border-radius: 50%;
  height: 150px;
  width: 149px;
  margin-top: 14px;
  padding-top: 53px;
  font-weight: bold;
  font-size: 30px;
}
